@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  color: white;

}
body,html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

}
body {
  overflow-x: hidden !important; 
  background-color: rgb(75, 75, 75);
}
.head {
  background: linear-gradient(rgba(197, 195, 195, 0.41), rgba(0, 0, 0, 0.558)),url("./assets/headbg.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  
  display:flex;
  justify-content: center;
  flex-direction: column;
}
nav {
  height: 3vw;
  background-color: #272f3d5e;
  width: 98vw;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 10vw;
  padding: 1vw;
}
nav a {
  font-size: 1.5vw;
  font-weight: 300;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
nav a:hover {
  color: black;
}

.text_container {
  height: 43.1vw;

  color: white;
  grid-area: text_container;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  

}
.text_container .title {
  
  letter-spacing: 1vw;
  font-size: 7vw;
  font-weight: 200;
}
.text_container .subtitle {
  font-size: 3vw;
  font-weight: 300;

  
}
.text_container .author {
  font-weight: 300;
  font-size: 3vw;

}
.text_container button {
  width: 17vw;
  height: 4vw;
  background-color: black;
  color: white;
  border: none;
  margin: 0 auto;
  transition: all 0.3s;
  font-size: 1.5vw;
}
.text_container button:hover {
  background-color: rgb(167, 167, 167);
  color: black;
  
}
.text_container button:active {
  background-color: rgb(255, 255, 255);
  color: black;
  
}
.text_container blockquote {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-bottom: 2vw;
}
.story {
  margin: 0;
}

.information {
  color: white;
  background-color: rgb(38, 36, 36);
  margin: 0;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.information h1 {
  font-size: 2vw;
  font-weight: 300;
}
.information p {
  font-size: 1.2vw;
}
.image_container {
  display: flex;
  flex-wrap: wrap;
}
.image_container section {
  color: white;
  width: 50%;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.image_container section h1 {
  font-weight: 300;
  font-size: 2.5vw;
}
.image_container section p {
  font-size: 1.5vw;
}
.image_container section:nth-child(1) {
  background-image: url("./assets/stories/story1.jpg");
}
.image_container section:nth-child(2) {
  background-image: url("./assets/stories/story2.jpg");
}
.image_container section:nth-child(3) {
  background-image: url("./assets/stories/story3.jpg");
}
.image_container section:nth-child(4) {
  background-image: url("./assets/stories/story4.jpg");
}
.intro_character {
  
  color: white;
  display: flex;
  gap: 0;
  width: 100%;
  height: 35vw;
  flex-wrap: wrap;
  justify-content: center;

}
.intro_character section {

  display: flex !important;
  flex-direction: column;
  justify-content: end;
  width: 25vw;
  height: 35vw;
  transition: all 0.3s;
  gap: 0vw;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  
}
.intro_character section h1 {
  font-weight: 300;
  font-size: 2vw;
}
.intro_character section p {
  font-size: 1.2vw;
  line-height: 2vw;
  font-weight: 300;

}

.intro_character blockquote {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.intro_character img {
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
.intro_character section:nth-child(odd) blockquote{
  background-color: rgb(43, 43, 45) !important;
}
.intro_character section:nth-child(even)  blockquote{
  background-color: rgb(77, 77, 82) !important;
}
#videoContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#videoContainer video {
  width: 33.33%;
}
#tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 96vw;
  margin: 0 auto;
  padding: 2vw;
  border: none;
  background-color: transparent !important;
  font-size: 1.5vw; 
}
#tabs ul {
  display: flex;
  margin: 0 auto;
  gap: 1vw;
  border: none;
  background-color: transparent !important;
  gap: 2vw;
}
#tabs li {
  border: none;
  border-radius: 0 !important;
  display: flex;
  justify-content: center;
  margin:0 1vw;
  width: 12vw;
  font-size: 2vw;
  align-items: center;
}
#tabs li a {
  font-size: 1.5vw;
  text-align: center;
  transition: all 0.3s;
}
#tabs li {
  transition: all 0.3s;
}
#tabs li:hover {
  background-color: aqua;
}
#tabs-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2vw;

}
#tabs-1 iframe {
  margin: 0 auto;
}
.frame {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;

  width: 64vw;
  margin: 2vw auto 0 auto;
}
.frame iframe {
  width: 64vw ;
  height: 36vw;
  font-size: 1vw;
}

#tabs-2 img {
  
  width: 25vw;
  height: auto;
}
#tabs-2 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 50vw;
}
#posterContainer {
  justify-content: space-between;
  margin: 0 auto;
  gap: 2vw;
  display: flex;
  justify-content: center;

}
#posterContainer a {
  color: white;
  background-color: rgb(58, 58, 56);
  text-decoration: none !important;
  padding: 1vw;
  margin-top: 2vw;
  
}
.posterItem {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  margin-top: 2vw;
}
.posterVersion {
  font-size: 1.8vw;
}
#tabs-3 iframe {
  margin-top: 5vw;
  width: 70vw;
  height: 30vw;
}
@media screen and (max-width: 960px) {
  #tabs {
    font-size: 2vw;
  }
  .text_container button {
    width: 22vw;
    height: 5vw;
  }
  .intro_character {
    height: 50vw;
  }
  .intro_character section {
    width: 29.3333333333%;
    height: 50vw;
  }
  .intro_character section h1 {
    font-size: 2vw;
  }
  .intro_character section p {
    font-size: 1.5vw;
    line-height: 2.6vw;
  }
  .frame {
    width: 80vw;
  }
  .frame iframe{
    width: 80vw !important;
    height: 45vw;
  }
  #tabs li {
    width: 16vw;
    height: 6vw;
    font-size: 2vw !important;
  }
  #tabs li a {
    font-size: 2.1vw;
  }
  #tabs-3 iframe {
    width: 70vw;
    height: 80vw;
  }
}